body {
  background-color: rgb(60, 212, 174);
}
table{
    border-collapse: collapse;
    width: 500px;
    height: 500px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
#tab{
    /*
    display: flex;
    place-items: center; 
    centraliza de um jeito
    */
    height: 100vh;  
    height: 100%;
}
#tab table{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
th, td{
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    padding: 10px;
    text-align: center;
    
}
td:last-child, th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}
table tr td{
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

tr :hover{
    
    background-color: #91909067;
}

#pontos{
  top: 90%;
  gap: 200px;

  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}